/* --- DIRECTIVES TAILWIND ESSENTIELLES (Fixe le problème) --- */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* --- STYLES GLOBALES --- */
body {
  /* Nous définissons un fond noir ici pour éviter les flashs blancs au chargement */
  background: #0a0a0a;
}


/* --- FIX POUR VOTRE DESIGN AURA CORE --- */

/* 1. Masquer la barre de défilement (utilisée dans le module Touriste) */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #334155; /* Couleur sombre */
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #0f172a; /* Couleur du fond */
}

/* 2. Fix pour les animations Framer Motion */
.framer-fix {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}