@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- STYLES GLOBAUX SPÉCIFIQUES --- */

/* Laissez Tailwind gérer les couleurs du body via layout.tsx */
/* On retire la règle "body { background: #0a0a0a; }" qui était en conflit. */


/* Fix pour le défilement (Module Touriste) */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #334155; 
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #0f172a; 
}

/* Fix pour les animations Framer Motion */
.framer-fix {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}