/* --- DIRECTIVES TAILWIND V3 ESSENTIELLES --- */
/* C'est la seule syntaxe que PostCSS comprendra avec Tailwind v3 */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* --- STYLES GLOBAUX DE VOTRE APP --- */

/* Fixe le fond pour l'application AURA */
body {
  background: #0a0a0a; 
}


/* Fix pour le défilement (dans le module Touriste) */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #334155; 
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #0f172a; 
}

/* Fix pour framer-motion si nécessaire */
.framer-fix {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}